.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}


#profile { 
    text-align: center;
}

.buttonlabel {
    font-size: 2vw;
}

.icon {
    color: black;
    width:  75px;
    height: 75px;
}

ul {
    margin-left: -8%;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

a:hover {
    text-decoration: none;
}